body {
  background-color: rgba(1, 25, 245, 0.719);
}

.navbar-container {
  color: white;
  padding: 35px;
  margin-top: 100px;
}

.navbar-links-container {
  display: flex;
  justify-content: space-around;
}

.navbar-links {
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: rgb(17, 2, 112);
  padding: 10px;
  border-radius: 20px;
}

h1,
h2 {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: rgb(19, 18, 18);
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.containerbox {
  text-align: center;
  align-items: center;
  padding: 35px;
  font-size: 20px;
}

.containerbox > div > input {
  padding: 15px;
  border: none;
  margin: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

ul,
li {
  list-style: none;
  padding-top: 15px;
  font-variant: small-caps;
}

button {
  border: none;
  border-radius: 20px;
  background-color: black;
  padding: 20px;
  box-shadow: 3px 3px 2px grey;
  color: white;
  margin: 2px;
}
